.entry-form {
  margin-bottom: 10px;
  padding: 0px;
  background-color: #F6FBFB;
}

.input-form {
  margin-right: 0px;
  padding: 10px;
  background-color: #5C5D5F;
}

.btn-form {
  margin-left: 15px;
  padding: 15px;

}

.price-form-row {
  margin-bottom: 10px;
}

.listing-form-row, .listing-button {
  margin-top: 10px;
}

.listing-form h3 {
  color: white;
}

.select-left {
	float: left;
	padding: 15px 0px 0px 0px;

}

.select-right {
		float: right;
/*	align-content: left;
	padding: 15px 0px 0px 0px;*/

}

.width-segment {
	width: 10%;
}
.width-field {
	width: 30%;
}
.modal {
   position: absolute;
   top: 250px;
   right: 0px;
   bottom: 0;
   left: 500px;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;

}
        .modal-dialog {
          width: 350px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }

.form-control{
  display:inline
}

.input {
    background-color: transparent;
    border: 0px solid;

}